<h1>Hello , voici le gossip numéro <%= params[:id] %>  ! </h1>

<p>
Son titre: <%= @gossip.title %> <br/>
Son auteur : <%= link_to @gossip.user.first_name, user_path(@gossip.user_id) %> <br/>
Son contenu : <%= @gossip.content %> <br/>
Créé le :<%= @gossip.created_at%> <br/>
<%= link_to "Supprimer ce gossip", gossip_path(@gossip.id), class:"btn btn-danger", method: "delete"%>
</p>