<% if @gossip.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
        <ul>
          <% @gossip.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>  
    <% end %>


<h1>Hello , voici le gossip numéro <%= params[:id] %>  ! </h1>

<p>
Son titre: <%= @gossip.title %> <br/>
Son auteur : <%= link_to @gossip.user.first_name, user_path(@gossip.user_id) %> <br/>
Son contenu : <%= @gossip.content %> <br/>
Créé le :<%= @gossip.created_at%> <br/>

<% if @gossip.user_id == current_user.id %>
   
    <%= link_to "Modifier ce gossip", edit_gossip_path(@gossip.id), class:"btn btn-outline-info" %> 
    <br/>

<% end %>
<%= link_to "Supprimer ce gossip", gossip_path(@gossip.id), class:"btn btn-danger", method: "delete"%>
<br/>

<% pre_like = @gossip.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', gossip_like_path(@gossip, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', gossip_likes_path(@gossip), method: :post %>
<% end %>

</p>

<p> Ajouter un commentaire </p>
 
  <%= form_tag(gossip_comments_path(@gossip), method: "post") do %>
    <%= text_field_tag 'gossip_id', @id, type: 'hidden', class: 'form-control' %>
     <div class="form-group">
         <%= label_tag 'Nouveau commentaire' %>
         <%= text_area_tag 'content', '', required: true, class: 'form-control' %>
     </div>
    <%= submit_tag "Envoyer", class: 'btn btn-outline-primary btn-sm' %>
 <% end %>                

</div>

<div class="list-group mx-auto">

    <% @gossip.comments.reverse.each do |comment| %>

      <div class="list-group-item mb-2">
        <div class="row">
          <div class="col-9">
              <p class="mb-1"><%= comment.content %></p>
              <p class="mb-1"><%= comment.user.first_name%></p>
            </div>
            <div class="col-3 text-right">
            <% if comment.user.id == current_user.id %>
            <small><%= link_to "Edit", edit_gossip_comment_path(@gossip.id, comment.id) %></small>
            
            <% end %>
            
          </div>
        </div>
      </div>

    <% end %>

  </div>

</div>