<h1>Hello , voici le gossip numéro <%= params[:id] %>  ! </h1>

<p>
Son titre: <%= @gossip.title %> <br/>
Son auteur : <%= link_to @gossip.user.first_name, user_path(@gossip.user_id) %> <br/>
Son contenu : <%= @gossip.content %> <br/>
Créé le :<%= @gossip.created_at%> <br/>
<%= link_to "Modifier ce gossip", edit_gossip_path(@gossip.id), class:"btn btn-outline-info" %> <br/>
<%= link_to "Supprimer ce gossip", gossip_path(@gossip.id), class:"btn btn-danger", method: "delete"%>
</p>

<p> Ajouter un commentaire </p>
 
 <div class="container">
    
 <%= form_tag(gossip_comments_path(:id), method: "post") do %>
    <%= text_field_tag 'gossip_id', @id, type: 'hidden', class: 'form-control' %>
     <div class="form-group">
         <%= label_tag 'Nouveau commentaire' %>
         <%= text_area_tag 'content', '', required: true, class: 'form-control' %>
     </div>
    <%= submit_tag "Envoyer", class: 'btn btn-outline-primary btn-sm' %>
 <% end %>                

</div>

