<h1>Hello , voici le gossip numéro <%= params[:id] %>  ! </h1>

<p>
Son titre: <%= @gossip.title %> <br/>
Son auteur : <%= link_to @gossip.user.first_name, user_path(@gossip.user_id) %> <br/>
Son contenu : <%= @gossip.content %> <br/>
Créé le :<%= @gossip.created_at%> <br/>

<% if @gossip.user_id == current_user.id %>
   
    <%= link_to "Modifier ce gossip", edit_gossip_path(@gossip.id), class:"btn btn-outline-info" %> 
    <br/>

<% end %>
<%= link_to "Supprimer ce gossip", gossip_path(@gossip.id), class:"btn btn-danger", method: "delete"%>
<br/>

<% pre_like = @gossip.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', gossip_like_path(@gossip, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', gossip_likes_path(@gossip), method: :post %>
<% end %>

</p>

<p> Ajouter un commentaire </p>
 
<div class="card my-1"> # place this card blow the post body.
  <div class="card-body">
    <p class="font-weight-bold">Comments</p>
    <%= form_with(model: [@gossip, @gossip.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.label 'New comment' %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

