<!DOCTYPE html>
<html>
 <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

   <title>TheGossipProject</title>
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <header class="d-flex justify-content-center py-3 bg-dark text-light">
    <ul class="nav nav-pills ">
      <li class="nav-item "><%= link_to "Home", root_path, class: "nav-link text-light"%></li>
      <li class="nav-item"><%= link_to "Team", team_path, class: "nav-link text-light"%></li>
      <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link text-light"%></li>
          
      <%if current_user != nil %> 
        <li class="nav-item">
            <%= link_to User.find_by(id: session[:user_id]).first_name, profile_path, class: "nav-link text-light" %>
        </li>
        <li class="nav-item">
            <%= link_to "Se déconnecter", session_path(session.id), class:"btn btn-danger", method: :delete %>
        </li>
        <% else %>
        <li class="nav-item">        
            <%= link_to 'Se connecter', new_session_path, class:"nav-link text-light" %>
        </li>
        <li class="nav-item">
            <%= link_to "Rejoindre The Gossip Project", new_user_path, class: "nav-link active bg-warning text-dark "%>
        </li>
      <% end %>
    </ul>
  </header>
 </head>

 <body>

    
    <% flash.each do |name, msg|%>
      
      <div class="alert alert-<%= name %>"><%= msg %></div>
    
    <% end %>
    
  <%= yield %>
 
  
 </body>

 <footer class="bg-white text-center text-dark text-lg-start pt-5">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
</html>
